
body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* CSS */

.container {
  max-width : 500px;
  margin-right: auto;
  margin-left: auto;
  position:relative
}
.button-50 {
  background-color: white;
  border: 0;
  border-radius: 4px;
  //box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .8em;
  margin: 0px;
  padding: 3px 10px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-70 {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  //box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .8em;
  margin: 0px;
  padding: 3px 10px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.blogFormStyle {
  background: lightgray;
  border-radius:5px;
  padding: 20px 15px ;

}

.blogPreview {
  background: lightblue;
  color: black;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 15px;
}

.blogStyle {
  background: lightblue;
  border-radius: 5px;
  padding: 15px 15px 5px;
  //maxWidth: '280px';
}

.commentBox {
  margin-right: 30px
}

.comment {
  background: #FFC2F1;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 10px 15px ;
}

.userList {
  background: lightblue;
  color: black;
  border-radius: 5px;
  margin: 10px 0px;
  padding: 5px 15px;
}

.container table:nth-child(odd) {
  background: lightblue;
  margin-bottom:20px;
  width:100%;
  border-radius: 5px;
  padding: 10px 7px
}


/* first row h3 margin-bottom */
tbody tr>td>h3 {
  margin: 0px 0px 7px 20px;
  color:black;
}
/* rows h3 margin-bottom */
tbody tr>td>a>h3 {
  margin: 0px 0px 0px 0px;
  color:black
}
tbody tr:not(:first-child) > td:not(:first-child){
  position:relative
}
tbody tr:not(:first-child) > td:not(:first-child)>h3{
  color:red;
  margin-top:0px;
  margin-bottom:0px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 0px 10px
}

tbody tr:first-child > td:not(:first-child) > div:first-child {
  font-weight:bold
}
tbody tr:first-child > td:not(:first-child) > div:not(:first-child) {
  font-size:15px
}
tbody tr:first-child > td:not(:first-child) {
  padding: 0px 10px
}






